.about {
  padding: 50px 0 40px 0;

  @media (min-width: 768px) {
    padding: 30px 0 40px 0;
  }

  @media (min-width: 992px) {
    padding: 20px 0 50px 0;
  }

  @media (min-width: 1200px) {
    padding: 30px 0 60px 0;
  }

  .container {
    @media (min-width: 1200px) {
      max-width: 1150px;
    }
  }

  .img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 404px;
    max-height: 413px;

    @media (min-width: 768px) {
      max-width: unset;
      max-height: unset;
      width: 324px;
      height: 333px;
    }

    @media (min-width: 992px) {
      width: 404px;
      height: 413px;
    }
  }

  .divider {
    @media (min-width: 768px) {
      width: 10px;
    }

    @media (min-width: 1200px) {
      width: 40px;
    }
  }

  .block-description {
    margin-top: 20px;

    @media (min-width: 576px) {
      margin-top: 25px;
    }

    @media (min-width: 768px) {
      width: calc(100% - 334px);
    }

    @media (min-width: 992px) {
      width: calc(100% - 424px);
    }

    @media (min-width: 1200px) {
      width: calc(100% - 444px);
    }
  }

  .p {
    padding-top: 15px;
    color: $primary;
    text-align: justify;
    font-size: 18px;
    line-height: 27px;

    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 22px;
    }

    @media (min-width: 992px) {
      font-size: 18px;
      line-height: 27px;
    }

    @media (min-width: 1200px) {
      padding-top: 10px;
    }
  }
}
