.claim {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: -80px;
  padding-top: 200px;
  background: url("/img/claim-colored.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 150%;

  @media (min-width: 576px) {
    padding-top: 225px;
  }

  @media (min-width: 768px) {
    margin-top: unset;
    padding-top: 175px;
  }

  @media (min-width: 1600px) {
    padding-top: 250px;
  }

  h1 {
    padding: 0 15px;
    color: white;
    font-size: 38px;
    font-family: 'Myriad Pro Bold', sans-serif;
    text-align: center;

    @media (min-width: 576px) {
      font-size: 40px;
    }

    @media (min-width: 768px) {
      font-size: 42px;
    }

    @media (min-width: 992px) {
      font-size: 44px;
    }

    @media (min-width: 1200px) {
      font-size: 48px;
    }
  }

  h2 {
    margin-top: 5px;
    padding: 0 15px;
    color: white;
    font-size: 26px;
    font-weight: 400;
    text-align: center;

    @media (min-width: 576px) {
      font-size: 28px;
    }

    @media (min-width: 768px) {
      font-size: 30px;
    }

    @media (min-width: 992px) {
      font-size: 32px;
    }

    @media (min-width: 1200px) {
      font-size: 36px;
    }
  }

  .btn-wrapper {
    margin-top: 35px;
    padding: 7px;
    border-radius: 32px;
    border: 2px solid #fff;

    @media (min-width: 576px) {
      padding: 8px;
    }

    @media (min-width: 768px) {
      padding: 9px;
    }
  }

  .btn {
    position: relative;
    padding: 12px 20px 10px 20px;
    border-radius: 25px;
    background: #fff;
    color: $primary;
    font-family: "Myriad Pro Bold", sans-serif;
    font-size: 22px;

    @media (min-width: 992px) {
      padding: 13px 21px 11px 21px;
      font-size: 24px;
    }

    @media (min-width: 1600px) {
      font-size: 26px;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &:active {
      background: #eee;
    }

    &::after {
      content: '';
      @include full-size-absoluted;
      transition: opacity .2s;
      box-shadow: 0 0 41px 5px rgba(255, 255, 255, 0.21);
      opacity: 0;
    }
  }

  .btn-claim {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 17px 35px rgba(0, 0, 0, 0.11);
    cursor: pointer;

    @media (min-width: 576px) {
      bottom: 5px;
    }

    @media (min-width: 768px) {
      bottom: 30px;
    }

    @media (min-width: 992px) {
      bottom: 50px;
      width: 75px;
      height: 75px;
    }

    @media (min-width: 1200px) {
      bottom: 70px;
    }

    @media (min-width: 1600px) {
      bottom: 110px;
      width: 80px;
      height: 80px;
    }

    &:hover {
      .svg {
        animation: btn-claim .6s;
      }
    }
  }

  @keyframes btn-claim {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-5px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  .wave {
    margin-top: 100px;
    width: 580px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @media (min-width: 576px) {
      margin-top: 120px;
      width: 770px;
    }

    @media (min-width: 768px) {
      margin-top: 50px;
      width: 1000px;
    }

    @media (min-width: 992px) {
      margin-top: 10px;
      width: 1205px;
    }

    @media (min-width: 1200px) {
      width: 1605px;
    }

    @media (min-width: 1600px) {
      margin-top: 50px;
      width: 100%;
    }
  }

  .whiter {
    margin-top: -1px;
    background: #fff;
    height: 100%;
    width: 100%;
  }
}
